---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
{% include base_path %}

{% assign research_areas = "Animals and Nature|STEM and HEED Careers|Bullying, Bystander Behaviour, and Exclusion|Prosocial Behaviour and Social Mindfulness" | split: "|" %}

{% for area in research_areas %}
  <h2>{{ area }}</h2><hr />
  {% assign pubs = site.publications | where: "research_area", area | sort: "date" | reverse %}
  {% for post in pubs %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}



