---
title: "Partnerships"
layout: archive
permalink: /year-archive/
author_profile: true
---
Work at a school or community organisation and interested in taking part in research?<br/><br/>The Developmental Intergroup Processes Lab (DIP Lab) Partnership is a formal partnership between our research group and schools in the UK (and around the world!)<br/><br/>We understand that schools are very busy and want to make sure that this partnership really is a two-way street, so in return for your help we can provide:

<ul>
  <li>Accessible reports on our findings</li>
  <li>School assemblies tailored to your needs (in the past, for example, we have spoken about studying at university, inclusive classrooms, STEM representation)</li>
  <li>Opportunities for older students to gain experience as 'research assistants for the day'</li>
</ul>

<img src="/images/lab logo no background.png" width="300" style="display: block; margin-top: 30px; margin-bottom: 30px;">

<h3>Schools and organisations we have worked with</h3>

<h4>United Kingdom</h4>
<ul>
  <li>Churston Ferrers Grammar School</li>
  <li>Galmpton C of E Primary School</li>
  <li>Brixington Primary Academy</li>
  <li>Ilsham C of E Academy</li>
  <li>Redbridge Community School</li>
  <li>Ilminster Avenue E-ACT Academy</li>
  <li>Torquay Academy</li>
  <li>May Park Primary</li>
  <li>Paignton Zoo</li>
</ul>

<h4>South Korea</h4>
<ul>
  <li>Yangchon Elementary School</li>
  <li>Hogye Elementary School</li>
  <li>Masong High School</li>
  <li>Kyungpook National University High School</li>
</ul>

{% assign posts = site.posts | sort: "date" | reverse %}
{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}
