---
title: "Partnerships"
layout: archive
permalink: /year-archive/
author_profile: true
---
Work at a school or community organisation and interested in taking part in research?<br/><br/>The Developmental Intergroup Processes Lab (DIP Lab) Partnership is a formal partnership between our research group and schools in the UK (and around the world!)<br/><br/>We understand that schools are very busy and want to make sure that this partnership really is a two-way street, so in return for your help we can provide:

- Accessible reports on our findings
- School assemblies tailored to your needs (in the past, for example, we have spoken about studying at university, inclusive classrooms, STEM representation)
- Opportunities for older students to gain experience as 'research assistants for the day'

<img src="/images/lab logo no background.png" width="300" style="display: block; margin-top: 20px; margin-bottom: 20px;">

### Schools and organisations we have worked with:

- Churston Ferrers Grammar School
- Galmpton C of E Primary School
- Brixington Primary Academy
- Ilsham C of E Academy
- Redbridge Community School
- Ilminster Avenue E-ACT Academy
- Torquay Academy
- May Park Primary
- Paignton Zoo
- Yangchon Elementary School (South Korea)
- Hogye Elementary School (South Korea)
- Masong High School (South Korea)
- Kyungpook National University High School (South Korea)

{% assign posts = site.posts | sort: "date" | reverse %}
{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}
